.container {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.wrapper {
    height:1280px;
}

.img {
    position: absolute;
    top: calc(50% - 130px);
    opacity: 0;
}

.wrapper .img:first-child {
    opacity: 1;
}

.container.scroll-33 .wrapper .img:nth-child(2) {
    opacity: 1; 
    transition: opacity opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;  
    -moz-transition: opacity 2s ease-in-out;   
}

.container.scroll-66 .wrapper .img:nth-child(3) {
    opacity: 1; 
    transition: opacity opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;  
    -moz-transition: opacity 2s ease-in-out;  
}