.main {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  width: 80%;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
  scroll-behavior: smooth;
}
